################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StrategyPattern/.vs/StrategyPattern
/StrategyPattern/StrategyPattern/bin/Debug/net7.0
/StrategyPattern/StrategyPattern/obj/Debug/net7.0
/StrategyPattern/StrategyPattern/obj
