################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StrategyPattern/.vs/StrategyPattern
/StrategyPattern/StrategyPattern/bin/Debug/net7.0
/StrategyPattern/StrategyPattern/obj/Debug/net7.0
/StrategyPattern/StrategyPattern/obj
/ObserverPattern/.vs/ObserverPattern
/ObserverPattern/ObserverPattern/obj
/StrategyPattern/.vs/ProjectEvaluation
/ObserverPattern/.vs/ProjectEvaluation
/ObserverPattern/ObserverPattern/bin/Debug/net7.0
/ObserverPattern/EventsObserverPattern/bin/Debug/net7.0
/ObserverPattern/EventsObserverPattern/obj
/DecoratorPattern/.vs/DecoratorPattern
/DecoratorPattern/DecoratorPattern/bin/Debug/net7.0
/DecoratorPattern/DecoratorPattern/obj
/DecoratorPattern/.vs/ProjectEvaluation
/FactoryPatterns/.vs
/FactoryPatterns/SimpleFactory/bin/Debug/net7.0
/FactoryPatterns/SimpleFactory/obj
/FactoryPatterns/FactoryMethod/bin/Debug/net7.0
/FactoryPatterns/FactoryMethod/obj
/FactoryPatterns/AbstractFactory/bin/Debug/net7.0
/FactoryPatterns/AbstractFactory/obj
