################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StrategyPattern/.vs/StrategyPattern
/StrategyPattern/StrategyPattern/bin/Debug/net7.0
/StrategyPattern/StrategyPattern/obj/Debug/net7.0
/StrategyPattern/StrategyPattern/obj
/ObserverPattern/.vs/ObserverPattern
/ObserverPattern/ObserverPattern/obj
/StrategyPattern/.vs/ProjectEvaluation
/ObserverPattern/.vs/ProjectEvaluation
/ObserverPattern/ObserverPattern/bin/Debug/net7.0
/ObserverPattern/EventsObserverPattern/bin/Debug/net7.0
/ObserverPattern/EventsObserverPattern/obj
/DecoratorPattern/.vs/DecoratorPattern
/DecoratorPattern/DecoratorPattern/bin/Debug/net7.0
/DecoratorPattern/DecoratorPattern/obj
/DecoratorPattern/.vs/ProjectEvaluation
/FactoryPatterns/.vs
/FactoryPatterns/SimpleFactory/bin/Debug/net7.0
/FactoryPatterns/SimpleFactory/obj
/FactoryPatterns/FactoryMethod/bin/Debug/net7.0
/FactoryPatterns/FactoryMethod/obj
/FactoryPatterns/AbstractFactory/bin/Debug/net7.0
/FactoryPatterns/AbstractFactory/obj
/SingletonPattern/.vs/SingletonPattern
/SingletonPattern/SingletonPattern/bin/Debug/net7.0
/SingletonPattern/SingletonPattern/obj
/CommandPattern/.vs/CommandPattern
/CommandPattern/CommandPattern/bin/Debug/net7.0
/CommandPattern/CommandPattern/obj
/SingletonPattern/.vs/ProjectEvaluation/singletonpattern.metadata.v5.2
/SingletonPattern/.vs/ProjectEvaluation
/AdapterPattern/.vs/AdapterPattern
/CommandPattern/.vs/ProjectEvaluation
/AdapterPattern/AdapterPattern/bin/Debug/net7.0
/AdapterPattern/AdapterPattern/obj
/AdapterPattern/.vs/ProjectEvaluation
/FacadePattern/.vs/FacadePattern
/FacadePattern/FacadePattern/bin/Debug/net7.0
/FacadePattern/FacadePattern/obj
/TemplatePattern/.vs/TemplatePattern
/FacadePattern/.vs/ProjectEvaluation
/TemplatePattern/TemplatePattern/bin/Debug/net7.0
/TemplatePattern/TemplatePattern/obj
/TemplatePattern/.vs/ProjectEvaluation
/IteratorPattern/IteratorPattern/bin/Debug/net7.0
/IteratorPattern/IteratorPattern/obj
/IteratorPattern/.vs/IteratorPattern
/CompositePattern/.vs/CompositePattern
/CompositePattern/CompositePattern/bin/Debug/net7.0
/CompositePattern/CompositePattern/obj
/IteratorPattern/.vs/ProjectEvaluation
/CompositePattern/.vs/ProjectEvaluation
/StatePattern/StatePattern/obj
/StatePattern/StatePattern/bin/Debug/net7.0
/StatePattern/.vs/StatePattern
